@if (widget(); as w) {
  <div
    class="widget"
    [class.widget--no-padding]="w.type === 'table'"
    [attr.draggable]="cellId() !== undefined"
    (dragstart)="cellId() !== undefined && onDragStartCell($event)"
    (dragend)="onDragEndCell($event)"
  >
    @switch (w.type) {
      @case ('input') {
        <app-widget-input
          [widget]="w"
          (labelChange)="labelChange.emit($event)"
        />
      }
      @case ('checkbox') {
        <app-widget-checkbox
          [widget]="w"
          (labelChange)="labelChange.emit($event)"
        />
      }
      @case ('radio') {
        <app-widget-radio
          [widget]="w"
          (labelChange)="labelChange.emit($event)"
          (optionsChange)="optionsChange.emit($event)"
          (optionSelect)="optionSelect.emit($event)"
        />
      }
      @case ('table') {
        <app-widget-table
          [widget]="w"
          (nestedTableChange)="nestedTableChange.emit($event)"
        />
      }
      @case ('label') {
        <app-widget-label
          [widget]="w"
          (labelChange)="labelChange.emit($event)"
        />
      }
    }
    @if (showRemove()) {
      <button type="button" class="widget-remove" (click)="onRemove($event)" title="Remove">×</button>
    }
  </div>
}
