<mat-form-field
  appearance="outline"
  subscriptSizing="dynamic"
  [ngClass]="formFieldClass()"
>
  <input
    [id]="inputId()"
    type="text"
    matInput
    [ngModel]="searchQuery()"
    (ngModelChange)="onInput($event)"
    [ngModelOptions]="{ standalone: true }"
    [matAutocomplete]="autocomplete"
    [placeholder]="placeholder()"
  />
  <mat-autocomplete
    #autocomplete="matAutocomplete"
    [displayWith]="displayOption"
    (optionSelected)="onOptionSelected($event.option.value)"
  >
    @for (opt of filteredOptions(); track opt.value ?? opt.label) {
      <mat-option [value]="opt">{{ opt.label }}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
