:host {
  display: block;
  width: 100%;
  min-height: 140px;
  max-width: 100%;

  &:hover {
    outline: 2px dashed var(--accent);
    outline-offset: 2px;
  }
}

.widget-table-wrap {
  display: block;
  width: 100%;
  min-height: 140px;
  max-width: 100%;

  &:hover {
    outline: 2px dashed var(--accent);
    outline-offset: 2px;
  }
}

:host:has(.widget-table-wrap:hover) {
  outline: none;
}

:host ::ng-deep app-embedded-table,
:host ::ng-deep .embedded-table-wrap,
:host ::ng-deep .embedded-table-scroll,
:host ::ng-deep .embedded-table {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
