@if (widget(); as w) {
  <label
    #editableRef
    class="widget-label-control"
    data-class-target="control"
    [attr.data-property-binding]="getPropertyBinding(w.valueBinding) ?? null"
    [attr.data-error-condition]="w.errorCondition ?? null"
    [attr.data-error-message]="w.errorMessage ?? null"
    [attr.data-error-for]="w.errorForControlName ?? null"
    [ngClass]="getElementClassObj('control')"
    contenteditable="true"
    data-placeholder="Label text"
    (input)="onLabelInput($event)"
    (blur)="onLabelBlur($event)"
  ></label>
}
