@if (widget(); as w) {
  <div
    class="widget-cell"
    (click)="$event.stopPropagation()"
    [attr.draggable]="cellId() !== undefined"
    (dragstart)="cellId() !== undefined && onDragStartNested($event)"
    (dragend)="onDragEndNested($event)"
  >
    @switch (w.type) {
      @case ('input') {
        <app-widget-input
          [widget]="w"
          (labelChange)="labelChange.emit($event)"
        />
      }
      @case ('checkbox') {
        <app-widget-checkbox
          [widget]="w"
          (labelChange)="labelChange.emit($event)"
        />
      }
      @case ('radio') {
        <app-widget-radio
          [widget]="w"
          (labelChange)="labelChange.emit($event)"
          (optionsChange)="optionsChange.emit($event)"
        />
      }
      @case ('table') {
        <div class="nested-table-placeholder">Table</div>
      }
      @case ('label') {
        <app-widget-label
          [widget]="w"
          (labelChange)="labelChange.emit($event)"
        />
      }
    }
    <button type="button" class="widget-cell-remove" (click)="onRemove($event)" title="Remove">×</button>
  </div>
}
