@if (widget(); as w) {
  @switch (w.type) {
      @case ('input') {
        <app-widget-input [widget]="w" />
      }
      @case ('checkbox') {
        <app-widget-checkbox
          [widget]="w"
          (labelChange)="labelChange.emit($event)"
        />
      }
      @case ('radio') {
        <app-widget-radio
          [widget]="w"
          (labelChange)="labelChange.emit($event)"
          (optionsChange)="optionsChange.emit($event)"
          (optionSelect)="optionSelect.emit($event)"
        />
      }
      @case ('table') {
        <div class="nested-table-placeholder">Table</div>
      }
      @case ('label') {
        <app-widget-label
          [widget]="w"
          (labelChange)="labelChange.emit($event)"
        />
      }
  }
  <button type="button" class="widget-cell-remove" (click)="onRemove($event)" title="Remove">×</button>
}
